{% extends "base/base.twig" %}

{% block title %}
    Edit {{ clothe.name }}
{% endblock %}

{% block container %}
    <form class="form-signin" action="{{ path_for('update-clothe', {'id' :clothe._id}) }}" method="post">
        <h2 class="form-signin-heading">Edit {{ clothe.name }}</h2>
        <div class="form-group{{ errors.name ? ' has-error' : '' }} ">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus
                   value="{{ old.name ? old.name : clothe.name }}">
            {% for error in errors.name %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.size ? ' has-error' : ''}} ">
            <label for="inputSize" class="sr-only">Size</label>
            <input type="text" id="inputSize" name="size" class="form-control" placeholder="Size" required autofocus value="{{ old.size ? old.size : clothe.size }}">
            {% for error in errors.size %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.quantity ? ' has-error' : '' }} ">
            <label for="inputQuantity" class="sr-only">Quantity</label>
            <input type="tel" id="inputQuantity" name="quantity" class="form-control" placeholder="Quantity" required autofocus value="{{ old.quantity ? old.quantity : clothe.quantity }}">
            {% if errors.quantity %}
                {% for error in errors.quantity %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group{{ errors.arrival_date ? ' has-error' : ''}} ">
            <label for="inputArrivalDate" class="sr-only">Arrival date</label>
            <input type="date" id="inputArrivalDate" name="arrival_date" class="form-control" placeholder="Arrival date" required autofocus value="{{ old.arrival_date.date ? old.arrival_date.date|date('Y-m-d') : clothe.arrival_date.date|date('Y-m-d') }}">
            {% for error in errors.arrival_date %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        {{ csrf.field  | raw }}
    </form>
{% endblock %}
