{{ page }}
{{ totalElements / totalLinks }}
{% if page <= totalElements / totalLinks + 1%}
    <div class="text-center">
        <nav aria-label="Page navigation pagination-lg">
            <ul class="pagination">
                <li>
                    {% if page-1 > 0 %}
                        <a href="{{ path_for('list-operator',{'page': page - 1}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    {% endif %}
                </li>
                {% for i in 0..totalLinks if i <= totalElements / totalLinks%}
                    <li><a href="{{ path_for('list-operator',{'page': page + i }) }}">{{ page + i }}</a></li>
                {% endfor %}

                <li>
                    {% if page+1 < totalElements / totalLinks %}
                        <a href="{{ path_for('list-operator',{'page': page + 1}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endif %}