{% extends "base/base.twig" %}

{% block title %}
    Manage Operators
{% endblock %}

{% block container %}
    <form class="form-signin" action="{{ path_for('create-operator') }}" method="post">
        <h2 class="form-signin-heading">Add operator data</h2>
        <div class="form-group{{ errors.name ? ' has-error' : ''}} ">
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus value="{{ old.name }}">
            {% for error in errors.name %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.surname ? ' has-error' : ''}} ">
            <label for="inputSurname" class="sr-only">Surname</label>
            <input type="text" id="inputSurname" name="surname" class="form-control" placeholder="Surname" required autofocus value="{{ old.surname }}">
            {% for error in errors.surname %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.email ? ' has-error' : ''}} ">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus value="{{ old.email }}">
            {% for error in errors.email %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.password ? ' has-error' : ''}} ">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" required placeholder="Password">
            {% for error in errors.password %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-group{{ errors.phonenumber ? ' has-error' : ''}} ">
            <label for="inputPhonenumber" class="sr-only">Phonenumber</label>
            <input type="tel" id="inputPhonenumber" name="phonenumber" class="form-control" placeholder="Phonenumber" required autofocus value="{{ old.phonenumber }}">
            {% if errors.phonenumber %}
                {% for error in errors.phonenumber %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group{{ errors.level ? ' has-error' : ''}} ">
            <div class="dropdown">
                <select name="operator_level" class="form-control">
                        <option value="-">Select level</option>
                    {% for level in levels %}
                        <option value="{{ level._id }}" {{ old.operator_level == level._id ? ' selected' : '' }}>{{ level.name }}</option>
                    {% endfor %}
                </select>
                {% if errors.level %}
                    {% for error in errors.level %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
        {{ csrf.field  | raw}}
    </form>
{% endblock %}
