{% extends "base/base.twig" %}

{% block title %}
    Manage Operators
{% endblock %}
{% block container %}
    <div class="jumbotron">
        <h1>List Operators section</h1>
        <p>In this part you can edit, delete or add operators</p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body"><p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean
                lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam
                venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p></div>
        <div class="panel-body">
            <a class="btn btn-primary" href="{{ path_for('enter-operator-data') }}" role="button">Add a new operator</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Admin Level</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            {% for operator in operators %}
                <form action="{{ path_for('delete-operator') }}" method="post" id="delete-user-{{ operator._id }}" name="delete-user-{{ operator._id }}">
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ operator.name }} {{ operator.surname }} </td>
                        <td>{{ operator.level.find(operator.operator_level).name}}</td>
                        <td>
                            <div class="btn-toolbar" role="group" aria-label="...">
                                <a class="btn btn-default" href="{{ path_for('edit-operator',{'id': operator._id}) }}"
                                   role="button">Edit</a>
                                <input type="submit" class="btn btn-default btn-danger" value="Delete">
                            </div>
                        </td>
                    </tr>
                    <input type="hidden" name="id" value="{{ operator._id }}">
                    {{ csrf.field  | raw }}
                </form>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
